# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\ADMIN\Desktop\Codegym\Module2\Week1\IntroductionToJava\[BT]SwapMoney\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
